# Compiled Sources
###################
*.o
*.a
*.P
*.elf
*.bin
*.map
*.hex
*.dis
*.exe
*.qstr

# Packages
############

# Logs and Databases
######################
*.log

# VIM Swap Files
######################
*.swp

# Build directory
######################
build/
ports/m480/build-M482Lite/
ports/mt7687/build-MT7687Lite/
ports/swm320/build-SWM320Lite/

# Test failure outputs
######################
tests/*.exp
tests/*.out

# Python cache files
######################
__pycache__/
*.pyc

# Customized Makefile/project overrides
######################
GNUmakefile
user.props

# Generated rst files
######################
genrst/
